<template>
  <v-card>
    <v-img
      class="white--text align-end"
      :src="'img/cover/'+(album.cover !== null ? album.cover : 'none.jpg')"
      height="260px"
    >
      <v-card-title>Top {{ top + 1 }}</v-card-title>
    </v-img>

    <v-card-title>
      <div class="text-truncate">{{ album.name }}</div>
    </v-card-title>

    <v-card-subtitle>
      {{ album.band }}
    </v-card-subtitle>

    <v-card-actions>
      <span class="ml-2 text-caption font-weight-black grey--text">{{ album.vote }} vote(s)</span>

      <v-spacer></v-spacer>

     <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" color="success" class="mr-2" v-on="on" @click="vote()">
            <v-icon>mdi-vote</v-icon>
          </v-btn>
        </template>

        <span>{{ $t('album_card.vote_btn') }}</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" color="primary" v-on="on" @click="info()">
            <v-icon>mdi-help-circle</v-icon>
          </v-btn>
        </template>
        
        <span>{{ $t('album_card.info') }}</span>
      </v-tooltip>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    album: { type: Object, default: () => {} },
    top: { type: Number, default: () => 0 }
  },

  methods: {
    info() {
      this.$emit('info', this.album)
    },

    vote() {
      this.$emit('vote', this.album)
    }
  }
}
</script>

<style>

</style>