<template>
      <v-row>
        <v-col id="left-welcome" lg="6" class="d-none d-md-block">
        </v-col>
        <v-col lg="6" class="d-flex align-center justify-center">
          <v-card flat style="background-color: #f9f9f9;">
            <v-card-text>
              <h1 class="mt-2 mb-6 text-center">Top Albums</h1>
              <v-form @keydown="form.onKeydown($event)">
                <g-input v-model="form.name" type="text" name="name" label="Identifiant" required/>

                <g-input v-model="form.password" type="password" name="password" :label="$t('password')" required/>
                
                <recaptcha
                  class="mb-4"
                  @success="recaptchaSuccess"
                  @expired="recaptchaExpired"
                />
              </v-form>
            </v-card-text>
            <v-card-actions class="d-flex flex-row-reverse">
              <v-btn
                :disabled="recaptcha_token === null"
                :loading="form.busy"
                color="primary"
                type="submit"
                class="mr-2"
                @click="login"
                >{{ $t('login') }}</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
</template>

<script>
export default {
  middleware: 'guest',

  data: () => ({
    form: {
      name: '',
      password: '',
    },
    recaptcha_token: null,
    remember: false,
  }),

  async mounted() {
    await this.$recaptcha.init()
  },

  methods: {
    async login() {
      let data

      // Submit the form.
      try {
        const response = await this.$store.dispatch('auth/login', this.form)
        data = response.data
      } catch (e) {
        return
      }

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember,
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      this.$router.push({ name: 'home' })
    },

    recaptchaExpired(token) {
      this.recaptcha_token = null
    },

    recaptchaSuccess(token) {
      this.recaptcha_token = token
    },
  },
}
</script>

<style lang="stylus">
  #left-welcome
    background-image url('~static/img/topalbums-bg.jpg')
    background-size cover
    //background-color #eb6345
</style>
