<template>
  <v-app>
    <v-navigation-drawer
      v-if="user !== null"
      v-model="drawer"
      :clipped="true"
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
          @click="drawer = false"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t(item.title) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      
      <v-spacer></v-spacer>

      <locale-dropdown class="mx-auto flex-grow-0" />

      <v-btn v-if="user !== null" color="error" class="ma-6" @click="logout">
        <v-icon left> mdi-exit-to-app </v-icon> {{ $t('logout') }}
      </v-btn>
    </v-navigation-drawer>

    <v-app-bar
      v-if="user !== null"
      :clipped-left="true"
      app
      color="white"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
    </v-app-bar>

    <v-main>
      <div class="fill-height simple-layout d-flex align-items-center justify-content-center m-0">
        <Nuxt />
        <confirm />
        <snackbar />
      </div>
    </v-main>

    <v-footer
      v-if="user !== null"
      app
      class="white--text"
      color="#e86244"
    >
      <span>&copy; {{ footer }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import LocaleDropdown from '@/components/global/LocaleDropdown'

export default {
  name: "Default",

  components: {
    LocaleDropdown
  },

  data () {
    return {
      drawer: false,
      footer: 'Top Albums 2022',
      items: [
        {
          icon: 'mdi-apps',
          title: 'menu_list_album',
          to: '/'
        },
        {
          icon: 'mdi-plus',
          title: 'menu_add_album',
          to: '/form'
        }
      ],
      title: 'Top Albums',
    }
  },

  computed: mapGetters({
    user: 'auth/user',
  }),

  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })

      this.drawer = false
    },
  },
}
</script>
<style lang="stylus">
  .v-navigation-drawer__content
    display flex
    flex-direction column

  .v-main
    background-color #f9f9f9

  h1
    color #333
</style>
