<template>
  <v-container class="mt-6">
    <h1>{{ $t('page_form_title') }}</h1>

    <v-row>
      <v-col lg="4" cols="12">
        <v-card flat color="#f9f9f9">
          <v-card-text class="pa-0">
            <v-form v-model="form_valid" class="mt-6">
              <g-input v-model="form.name" type="text" name="name" :label="$t('form.label.name')" :rule="nameRules" required/>
              
              <g-input v-model="form.band" type="text" name="band" :label="$t('form.label.band')" :rule="bandRules" required/>
              
              <v-menu transition="scale-transition" offset-y min-width="fit-content" :close-on-content-click="false">
                <template #activator="{ on }">
                  <div>
                    <label for="released_at">{{ $t('form.label.released_at') }}</label>
                    <v-text-field
                      :value="$tools.formatDate(form.released_at, false)"
                      readonly
                      single-line
                      outlined
                      hide-details
                      dense
                      name="released_at"
                      class="mb-6"
                      v-on="on"
                    />
                  </div>
                </template>

                <v-date-picker
                  :value="form.released_at"
                  no-title
                  :locale="locale"
                  first-day-of-week="1"
                  min-width="auto"
                  @input="updateReleasedAt($event)"
                />
              </v-menu>

              <g-textarea v-model="form.description" type="text" name="description" :label="$t('form.label.description')" :rule="descriptionRules" counter="512"/>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-btn class="white--text py-4 px-8" color="grey" @click="reset()">
              <v-icon left> mdi-restart </v-icon> {{ $t('reset') }}
            </v-btn>

            <v-btn color="success" class="py-4 px-8" :disabled="!form_valid" @click="save()">
              <v-icon left> mdi-content-save </v-icon> {{ $t('save') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

import _ from 'lodash'

export default {
  data: () => ({
    form_valid: false,
    form: {
      id: null,
      name: '',
      band: '',
      description: '',
      released_at: ''
    },
  }),
  
  computed: {
    ...mapGetters({
      album: 'album/album',
      locale: 'lang/locale'
    }),

    // RULES
    nameRules() {
      const rules = []
      rules.push((v) => !!v || this.$t('form.rules.name'))
      return rules
    },

    bandRules() {
      const rules = []
      rules.push((v) => !!v || this.$t('form.rules.band'))
      return rules
    },

    descriptionRules() {
      const rules = []
      rules.push(v => v.length <= 512 || this.$t('form.rules.description'))
      return rules
    }
  },

  mounted() {
    if (!_.isEmpty(this.album)) {
      this.form = {
        id: this.album.id,
        name: this.album.name,
        band: this.album.band,
        description: this.album.description,
        released_at: this.album.released_at
      }
    }
  },

  methods: {
    reset() {
      this.form = {
        id: null,
        name: '',
        band: '',
        description: '',
      }
    },

    save() {
      this.$store.dispatch(`album/${this.form.id !== null ? 'update': 'create'}`, this.form)
    },

    updateReleasedAt(value) {
      this.form.released_at = value
    },
  }
}
</script>

<style lang="stylus">
</style>