<template>
  <v-container class="mt-6">
    <v-row>
      <v-col>
        <h1>{{ $t('page_home_title') }}</h1>
      </v-col>
      <v-col>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          :label="$t('search')"
          single-line
          hide-details
        />
      </v-col>
    </v-row>
    
    <v-row class="my-4">
      <v-col v-for="(album, idx) in filterAlbums" :key="idx" lg="3">
        <album-card :album="album" :top="idx" @vote="vote" @info="info"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

import AlbumCard from '~/components/AlbumCard.vue'

export default {
  components: { AlbumCard },

  data: () => ({
    search: ''
  }),

  computed: {
    ...mapGetters({
      album_array: 'album/album_array'
    }),

    filterAlbums() {
      const search = this.search.toLowerCase();
      return this.album_array.filter(album =>
          Object.values(album).some(val => 
              String(val).toLowerCase().includes(search) 
          )
      );
    }
  },

  mounted() {
    this.$store.commit('album/reset')
    this.$store.dispatch('album/findAll')
  },

  methods: {
    info(album) {
      this.$store.commit('album/setAlbum', album)

      this.$router.push({ name: 'info' })
    },

    vote(album) {
      this.$store.dispatch('album/vote', album)
    }
  }
}
</script>

<style>

</style>
