<template>
  <v-container class="mt-6">
    <h1>{{ $t('page_info_title') }}</h1>

    <v-row class="my-4">
      <v-col cols="12" lg="6">
        <v-img
          :src="'img/cover/'+album.cover"
          width="350px"
        ></v-img>

        <div class="text-h6 mt-4">{{ album.name }}</div>

        <div class="text-subtitle-1">{{ album.band }}</div>

        <div class="text-subtitle-2">
          {{ $tools.formatDate(album.released_at) }}
        </div>

        <p class="mt-4">
          {{ album.description }}
        </p>

        <v-btn :loading="remove_loading" :disabled="remove_loading" class="white--text py-4 px-8" color="error" @click="remove()">
          <v-icon left> mdi-delete </v-icon> {{ $t('remove') }}
        </v-btn>
        <v-btn color="success" class="py-4 px-8 ml-4" @click="update()">
          <v-icon left> mdi-pen </v-icon> {{ $t('update') }}
        </v-btn>
      </v-col>
    </v-row>    
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    remove_loading: false
  }),

  computed: {
    ...mapGetters({
      album: 'album/album'
    })
  },

  methods: {
    remove() {
      this.$store
        .dispatch(
          'global/confirm/ask',
          this.$t('confirm_remove_album')
        )
        .then((confirm) => {
          this.remove_loading = true

          if (confirm) {
            this.$store.dispatch('album/remove', this.album.id).then(() => {
              this.remove_loading = false
              this.$router.push({ name: 'home' })
            })
          } else {
            this.remove_loading = false
          }
        })
    },

    update() {
      this.$router.push({ name: 'form' })
    }
  }
}
</script>

<style>

</style>