<template>
<div>
  <label :for="name" :class="!is_valid ? 'error--text' : ''">{{ label }}</label>
  <v-textarea
    :ref="name"
    :value="value"
    :type="type"
    :single-line="singleLine"
    :outlined="outlined"
    :dense="dense"
    :required="required"
    :rules="rule"
    :counter="counter"
    @input="$emit('input', $event)"
    @blur="isValidCheck()"
  />
  </div>
    
</template>

<script>
export default {
  props: {
    value: { required: true },
    label: { type: String, required: true },
    type: { type: String, required: true },
    name: { type: String, required: true },
    singleLine: { type: Boolean, default: true },
    outlined: { type: Boolean, default: true },
    dense: { type: Boolean, default: true },
    required: { type: Boolean, default: false },
    rule: { type: Array, default: () => [] },
    counter: { type: String, default: () => '' },
  },
  data: () => ({
    is_valid: true
  }),
  mounted() {
    this.$watch(
        () => {
            return this.$refs[this.name].valid
        },
      (val) => {
        this.is_valid = val
      }
    )
  },
  methods: {
    isValidCheck () {
      this.is_valid = this.$refs[this.name].valid
    }
  }
}
</script>

<style lang="stylus">
  .v-textarea .v-input__textarea
    background-color #fff !important
</style>