<template>
  <v-dialog v-model="confirm.show" persistent max-width="700px">
    <v-card>
      <v-card-title class="headline">{{ confirm.message }}</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn small color="primary" @click="accept">OK</v-btn>
        <v-btn small color="dark" @click="cancel">{{ $t("cancel") }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  computed: {
    confirm() {
      return this.$store.state.global.confirm
    },
  },
  methods: {
    accept() {
      this.confirm.resolve(true)
      this.$store.commit('global/confirm/cancel')
    },
    cancel() {
      this.confirm.resolve(false)
      this.$store.commit('global/confirm/cancel')
    },
  },
}
</script>
