<template>
  <v-select
    v-model="locale"
    :items="locale_array"
    item-text="value"
    item-value="id"
    dense
    outlined
    hide-details
    style="width: min-content;"
  />
</template>

<script>
import { mapGetters } from 'vuex'
import { loadMessages } from '~/plugins/i18n'

export default {
  computed: {
    ...mapGetters({
      locale_array: 'lang/locale_array'
    }),

    locale: {
      get() {
        return this.$store.getters['lang/locale']
      },
      set(v) {
        this.setLocale(v)
      }
    }
  },

  methods: {
    setLocale (locale) {
      if (this.$i18n.locale !== locale) {
        loadMessages(locale)

        this.$store.dispatch('lang/setLocale', { locale })
      }
    }
  }
}
</script>
<style lang="stylus">
</style>
