<template>
  <v-snackbar v-model="show" :color="type" :timeout="timeout" top>
    <span v-html="message"></span>
    <template #action="{ attrs }">
      <v-btn v-bind="attrs" icon text @click="close()">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      message: 'global/snackbar/message',
      type: 'global/snackbar/type',
      timeout: 'global/snackbar/timeout',
    }),
    show: {
      get() {
        return this.$store.getters['global/snackbar/show']
      },
      set(val) {
        if (!val) {
          this.close()
        }
      },
    },
  },
  methods: {
    close() {
      this.$store.dispatch('global/snackbar/hide')
    },
  },
}
</script>
